body {
  margin: 0;
  min-height: 30vh;
  background-color: #f0f2f5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Geologica", sans-serif;
  font-optical-sizing: auto;
}
.header-title {
  margin-top: -5px;
  font-size: 2.5rem;
  font-weight: 700;
  color: #000;
}
.header-subtitle {
  margin-top: -15px;
  font-size: 1.2rem;
  font-weight: 200;
  color: #666;
}
